*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

/* NAVBAR */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.logo{
font-size:22px;
font-weight:bold;
}

.login-btn{
background:#6c63ff;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
}

/* HERO SECTION */
.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:60px 30px;
background:linear-gradient(90deg,#1e3c72,#2a5298);
color:white;
flex-wrap:wrap;
}

.hero-text h1{
font-size:42px;
margin:10px 0;
}

.explore{
margin-top:20px;
padding:12px 25px;
background:white;
border:none;
color:#2a5298;
font-weight:bold;
border-radius:6px;
}

.hero-img img{
width:260px;
}

/* ABOUT */
.about{
text-align:center;
padding:60px 20px;
background:#f5f6fa;
}

.about span{
color:#6c63ff;
}

.start{
margin-top:20px;
padding:14px 28px;
background:#6c63ff;
color:white;
border:none;
border-radius:8px;
}

/* CHAT */
.chat{
text-align:center;
padding:40px;
}

.msg1{
background:#eee;
display:inline-block;
padding:10px 15px;
border-radius:10px;
margin:10px;
}

.msg2{
background:#2a5298;
color:white;
display:inline-block;
padding:12px 18px;
border-radius:10px;
}
