/* Navbar Design */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 25px;
    background:white;
}

/* Logo */
.logo{
    height:55px;   /* ⭐ Medium Perfect Size */
    width:auto;
    object-fit:contain;
}

/* Mobile View */
@media(max-width:768px){
    .logo{
        height:45px;
    }
}
